<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FREECRMApplicationTestAutomationSuite">
<listeners>
<listener class-name="com.crm.qa.ExtentReport.ExtentReportListener"/>
</listeners>
	<test name="FREECRMTestcases">
		<classes>
			<class name="com.crm.qa.testcases.LoginPageTest" />
			<!-- <class name="com.crm.qa.testcases.ContactsPageTest" /> -->
			<class name="com.crm.qa.testcases.HomePageTest" />
		</classes>
	</test>
</suite> 
